/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 720px) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

}
/*end medium*/

@media only screen and (max-width:1000px){
.map{
    display: none;
}
}


